<%= form_with(model: comment, url: comments_path) do |form| %>
  <%= form.hidden_field :commentable_id, value: comment.commentable_id %>
  <%= form.hidden_field :commentable_type, value: comment.commentable_type %>

  <div class="form-group">
    <%= %>
    <%= form.text_area :body, autofocus: true, placeholder: "Type your message here", class: "form-control" %>
  </div>
  <br>
  <div>
    <%= form.submit "Submit comment" %>
  </div>
<% end %>