<%= form_with(model: comment, url: comments_path) do |form| %>
  <%= form.hidden_field :commentable_id, value: comment.commentable_id %>
  <%= form.hidden_field :commentable_type, value: comment.commentable_type %>

  <div class="form-group">
    <%= %>
    <%= form.text_area :body, autofocus: true, placeholder: "Write a comment...", class: "form-control" %>
  </div>
  <div>
    <%= form.submit "Submit comment", class: "btn btn-primary" %>
  </div>
<% end %>