<div class="card">
  <div class="card-body">
    
      
      <% if current_user == user && user.description == nil %>
        <%= form_with(model: user) do |form| %>
          <div class="form-group">
            <%= form.text_area :description,
                                autocomplete: :off,
                                placeholder: "Describe who you are!",
                                class:'form-control' %>
          </div>
          <div class="actions mb-3">
            <%= form.submit "Save", class:'btn btn-primary' %>
          </div>
        <% end %>
      <% elsif current_user == user && user.description == "" %>
        <%= form_with(model: user) do |form| %>
          <div class="form-group">
            <%= form.text_area :description,
                                autocomplete: :off,
                                placeholder: "Describe who you are!",
                                class:'form-control' %>
          </div>
          <div class="actions mb-3">
            <%= form.submit "Save", class:'btn btn-primary' %>
          </div>
        <% end %>  
      <% elsif current_user == user %>
        <p><%= user.description %></p>
        <%= form_with(model: user) do |form| %>
          <div class="form-group">
            <%= form.hidden_field :description, value: "" %>
          </div>
          <div class="actions mb-3">
            <%= form.submit "Edit description", class:'btn btn-primary btn-sm' %>
          </div>
        <% end %>
      <% else %>  
        <% unless user.description == "" || user.description== nil %>
          <p><%= user.description %></p>
        <% end %>
      <% end %>


    

    
      
    
    <% unless user.location == "" || user.location == nil %>
      <p>Lives in <strong><%= user.location %></p></strong>
    <% end %>
    <% unless user.origin == "" || user.origin == nil %>
      <p>From <strong><%= @user.origin %></p></strong>
    <% end %>
    <% unless user.occupation == "" || user.occupation == nil %>
      <p>Works at <strong><%= user.occupation %></p></strong>
    <% end %>
    <% unless user.education == "" || user.education == nil %>
      <p>Studied at <strong><%= user.education %></p></strong>
    <% end %>
    <% unless user.birthday == "" || user.birthday == nil %>
      <p>Birthday - <strong><%= user.birthday.strftime("%B %d, %Y") %></p></strong>
    <% end %>
    
  </div>
</div>