<div class="card">
  <div class="card-body">
      <% if user.description.nil? && current_user == user || user.description == "" && current_user == user %>
        <%= form_with(model: user) do |form| %>
          <div class="form-group">
            <%= form.text_area :description,
                                autocomplete: :off,
                                placeholder: "Describe who you are",
                                class:'form-control' %>
          </div>
          <div class="actions mb-3">
            <%= form.submit "Save", class:'btn btn-primary btn-sm' %>
          </div>
        <% end %>
      <% elsif current_user == user %>
        <p><%= user.description %></p>
        <%= form_with(model: user) do |form| %>
          <div class="form-group">
            <%= form.hidden_field :description, value: "" %>
          </div>
          <div class="actions mb-3">
            <%= form.submit "Clear description", class:'btn btn-outline-primary btn-sm' %>
          </div>
        <% end %>
      <% else %>  
        <% unless user.description == "" || user.description== nil %>
          <p><%= user.description %></p>
        <% end %>
      <% end %>
    <% unless user.location == "" || user.location == nil %>
      <p>Lives in <strong><%= user.location %></strong></p>
    <% end %>
    <% unless user.origin == "" || user.origin == nil %>
      <p>From <strong><%= @user.origin %></strong></p>
    <% end %>
    <% unless user.occupation == "" || user.occupation == nil %>
      <p>Works at <strong><%= user.occupation %></strong></p>
    <% end %>
    <% unless user.education == "" || user.education == nil %>
      <p>Studied at <strong><%= user.education %></strong></p>
    <% end %>
    <% unless user.birthday == "" || user.birthday == nil %>
      <p>Birthday - <strong><%= user.birthday.strftime("%B %d, %Y") %></strong></p>
    <% end %>
    
  </div>
</div>