<h1> Friends </h1>
<% current_user.friends(current_user.id).each do |friend| %>
  <div class="card">
    <div class="card-body">
    <% if current_user.id == friend.friend_a_id %>
      <%= User.find(friend.friend_b_id).first_name %>  <%= User.find(friend.friend_b_id).last_name %>
    <% else %>
      <%= User.find(friend.friend_a_id).first_name %>  <%= User.find(friend.friend_a_id).last_name %>
    <% end %>
    </div>
  </div>
  <br>
<% end %>

<h1> Sent Requests (Awaiting friend approval) </h1>
<% if current_user.friend_requests[0].nil? %>
    <p> All of your friend requests have been accepted! </p>
<% else %> 
  <% current_user.friend_requests.each do |request| %>
      <div class="card">
        <div class="card-body">
        <%= User.find(request.recipient_id).first_name %>  <%= User.find(request.recipient_id).last_name %>
        
        </div>
      </div>
      <br>
  <% end %>
<% end %>

<h1> Friend Requests (Click below to accept friendship) </h1>
<% if current_user.friend_invitations[0].nil? %>
    <p> You don't have any pending friend requests right now.. </p>
<% else %>    
    <% current_user.friend_invitations.each do |invitation| %>
      <div class="card">
        <div class="card-body">
        <%= User.find(invitation.requester_id).first_name %>  <%= User.find(invitation.requester_id).last_name %>
         <%= button_to "Accept Friend Request", friendships_path, method: :post, params: { friend_b_id: User.find(invitation.requester_id).id }, class:"btn btn-success" %>
        </div>
      </div>
      <br>
  <% end %>
<% end %> 



<h1>All Users</h1>
<% @users.each do |user| %> 
    <% unless user.id == current_user.id || 
    current_user.friend_invitations.where(requester_id: user.id)[0].nil? == false ||
    current_user.friend_requests.where(recipient_id: user.id)[0].nil? == false ||
    user.friend?(user.id, current_user.id) %>     
     <div class="card">
        <div class="card-body">
            <%= user.first_name %> <%= user.last_name %>
            <%= button_to "Send Friend Request", friend_requests_path, method: :post, params: { recipient_id: user.id }, class:"btn btn-primary" %>
        </div>
    </div>    
        <br>
    <% end %>
<% end %>





      