
  <div class="card shadow-sm mx-auto" style="max-width:600px">
    <div class="card-body">
      <h2> <%= @user.first_name%> <%= @user.last_name%></h2>
      <p> <%= @user.friends(@user.id).count %> friends </p>
    </div>
  </div>
<br>
<% if current_user.friend?(@user.id, current_user.id) || current_user == @user %>
  <div class="card shadow-sm mx-auto" style="max-width:600px">
    <div class="card-body">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Posts</a>
        </li>
        <li class="nav-item">
          <% if @user == current_user %>
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"> My Friends</a>
          <% else %>
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"> Friends</a>
          <% end %>  
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <br>
          <%= render 'about', user: @user %>
          <% if current_user == @user %>
            <br>
            <%= link_to "Update profile", edit_user_path,class: "btn btn-primary" %>
            <br>
            <br>
            <%= link_to 'Update account information', edit_user_registration_path, class: "btn btn-secondary" %>
            
          <% end %>
          
        </div>
      
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <br>
          <% @user.posts.each do |post| %>
            <%= render post %>
          <% end %>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <br>
          <%= render 'friends', user: @user %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="card shadow-sm mx-auto" style="max-width:600px">
    <h2 class="card-header">Info</h2>
    <div class="card-body">
      <% unless @user.location == "" || @user.location == nil %>
        <p>Lives in <strong><%= @user.location %></p></strong>
      <% end %>
      <% unless @user.birthday == "" || @user.birthday == nil %>
        <p>Birthday <strong><%= @user.birthday.strftime("%B %d, %Y") %></p></strong>
      <% end %>
    </div>
  </div>
  
  <% unless current_user.friend_already_requested?(@user.id, current_user.id) || current_user.friend_already_invited?(@user.id, current_user.id)%>
    <%= button_to "Send friend request", friend_requests_path, method: :post, params: { recipient_id: @user.id }, class:"btn btn-primary"%>
  <% end %>
<% end %>
<br>
<div class="card shadow-sm mx-auto" style="max-width:600px">
  <div class="card-body">
  <%= link_to "Back", :back, class: "btn btn-secondary" %>
  </div>
</div>