<div class="card text-center mx-auto" style="width: 20rem;"> 
  <h2 class="card-header text-left">Forgot password?</h2>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="field">
        <%= f.email_field :email, 
                          autofocus: true, 
                          placeholder: "Email", 
                          class: 'form-control'%>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "Send reset instructions", class:"btn btn-primary" %>
      </div>
      <br>
    <% end %>
    <%= link_to "Back", user_session_path , class:"btn btn-secondary" %>
  </div> 
</div>