<div id="<%= dom_id post %>">

  <div class="card shadow-sm mx-auto" style="max-width:600px">
    <div class="card-header bg-white">
    
      <strong><%= link_to (post.user.first_name + " " + post.user.last_name), user_path(post.user.id)%></strong>
      <br>
      
      <small class="text-muted"><%= post.created_at.in_time_zone("America/New_York").strftime("%B %d, %Y at %l:%M %P %Z") %></small>
    </div>
    <div class="card-body">
    <p class="card-text"><%= post.body %></p>
    <hr>
    <%= render 'comments/comment', post: post %>
    
    <%= link_to "Add comment", post, class: "btn btn-secondary btn-sm" %>

    </div>
  </div>
  <br>
</div>
