<p style="color: green"><%= notice %></p>

  <div class="card">
    <div class="card-header">
      <%= @post.user.first_name%> <%=@post.user.last_name %>
      <%= link_to "View Profile", user_path(@post.user.id), class: "btn btn-primary" %>
      <br>
      <%= @post.created_at.strftime("%B %d, %Y at %l:%M %P") %>
    </div>
    <div class="card-body">
      <p class="card-text"><%= @post.body %></p>

    </div>
  </div>     

<div>
  
  <% if @post.user.id == current_user.id %>
    <%= button_to "Delete post", @post, method: :delete, class: "btn btn-danger" %>
  <% end %>
  <br>
  <%= link_to "Back", posts_path, class: "btn btn-secondary" %>
</div>
